<div x-data="{ mobileMenuOpen: false }" class="relative bg-white">
  <div class="mx-auto p-4 sm:px-6">
    <div class="flex justify-between md:justify-center items-center">
      <!-- Store Name / Store Logo -->
      <div class="flex justify-start lg:flex-1 truncate">
        <h1 class="text-xl font-bold truncate">{{ shop.name }}</h1>
      </div>
      <div class="-mr-2 -my-2 ml-3 md:hidden">
        <button
          @click="mobileMenuOpen = true"
          type="button"
          class="bg-white p-2 inline-flex items-center justify-center focus:outline-none">
          {% render 'icon-menu' %}
        </button>
      </div>
      <!-- Navigation Menu -->
      <nav class="hidden md:flex space-x-10">
        {% for link in section.settings.menu.links %}
          {% if link.links != blank %}
            {% assign link_handle = link.handle | replace: '-', '_' %}
            <div x-data="{ {{link_handle}}: false}" class="relative">
              <button x-on:click="{{link_handle}} = !{{link_handle}}" class="inline-flex items-center gap-2">
                <span>{{ link.title }}</span>
                <span class="w-4 ">{% render 'icon-dropdown' %}</span>
              </button>
              <div
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 translate-y-3"
                x-transition:enter-end="opacity-100 translate-y-0"
                x-transition:leave="transition ease-out duration-300"
                x-transition:leave-start="opacity-100 translate-y-0"
                x-transition:leave-end="opacity-0 translate-y-3"
                x-show="{{link_handle}}"
                @click.away="{{link_handle}} = false"
                class="absolute top-8 z-10 -ml-5  transform px-2 w-screen max-w-sm sm:px-0 lg:ml-0  ">
                <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
                  <div class="relative grid gap-6 bg-white  py-5 sm:gap-8 sm:px-5">
                    {% for childLink in link.links %}
                      <a href="{{childLink.url}}" class="-m-3 px-3 py-2 flex items-start rounded-lg hover:bg-gray-100 transition-all duration-300">
                        <div class="">
                          <p class=" text-base font-medium  ">{{ childLink.title }}</p>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <a href="{{link.url}}" class="text-base text-gray-500 hover:text-gray-700 ">{{ link.title }}</a>

          {% endif %}

        {% endfor %}
      </nav>

      <!-- Enable shopping cart -->
      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <a href="/cart" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900 ">
          {% render 'icon-shopping-bags' %}
        </a>
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/account" class="text-base text-gray-500 hover:text-gray-900"></a>
            {{ 'Log Out' | customer_logout_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
          {% else %}

            {{ 'Login' | customer_login_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
            {{ 'Register' | customer_register_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}

          {% endif %}
        {% endif %}
      </div>

      <!-- Mobile Menu Container -->

      <div x-show="mobileMenuOpen" class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden ">
        <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
          <div class="p-5 divide-y-2 divide-gray-50">

            <!-- Mobile Menu header title plus close button -->
            <div class="flex item-center justify-between pb-3">
              <div>
                <h1 class="text-lg text-gray-500">{{ section.settings.mobile_menu_title }}</h1>
              </div>
              <div class="-mr-2">
                <button @click="mobileMenuOpen = false" class="bg-white text-gray-500 hover:text-red-500 transition-all duration-300">
                  {% render 'icon-close' %}
                </button>
              </div>
            </div>
            <!-- Navigation link for mobile menu -->
            <div class="pt-3">
              <div class="grid gap-y-7">
                {% for link in section.settings.menu.links %}
                  {% if link.links != blank %}
                    {% assign mobile_menu_handle = link.handle | replace: '-', '_' %}
                    <div class="relative" x-data="{ {{mobile_menu_handle}}: false }">
                      <button
                        @click="{{ mobile_menu_handle }} = ! {{ mobile_menu_handle }}"
                        type="button"
                        class="text-base text-gray-500 hover:text-gray-900 flex items-center justify-between w-full">
                        {{ link.title }}
                        <div class="w-4 h-4">
                          {% render 'icon-dropdown' %}
                        </div>
                      </button>
                      <div
                        x-show="{{ mobile_menu_handle }}"
                        x-transition
                        class="grid gap-y-3 py-3">
                        {% for childLink in link.links %}
                          <a href="{{ childLink.url }}" class="-m-3 px-3 py-2 mt-1 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50">

                            <span class="ml-5">{{ childLink.title }}</span>

                          </a>
                        {% endfor %}
                      </div>
                    </div>
                  {% else %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  {% endif %}

                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile_menu_title",
        "label": "Mobile Menu Title",
        "default": "Menu"
      }, {
        "type": "link_list",
        "label": "Header Menu",
        "id": "menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}